*.pid
*.xml
*.csr
*.crt
*.key
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
emulated_hue_ids.json
*.db-journal
lib
deps
tts
encrypt
icloud
secrets.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore